{% extends "core/base.html" %}

{% block content %}


    <h1><b>{{ post.id }} post</b></h1><br/>
    <h3>{{ post.description }}</h3>
        <div>
        <h2>All comments</h2>
        </div>

        <div class="col-lg-2">
        {% for comment in object.comment_set.all %}
                <i>Comment:{{ comment.text }} {{ comment.author }}</i><br/>
        {%  endfor %}
        </div>

    <div class="col-lg-5">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    </div>
{% endblock %}