{% extends "core/base.html" %}

    {% block content %}
        {% include "core/list.html" with values=posts %}
        <div class="jumbotron">
            <div><h2>Number of blogs - {{ blog_count|default:"no blogs"}}</h2>
                <p>
                    This is number of blogs
                </p>
            <p>
                <a class="btn btn-lg btn-primary" href="{% url "blogs:allblogs" %}" role="button">All blogs</a>
            </p></div>
            <div><h2>Number of posts - {{ post_count|default:"no posts"}}</h2>
            <p>This is number of posts in blogs</p></div>
            <div><h2>Number of comments - {{ comment_count|default:"no comments"}}</h2>

                <p>This is number of comments in posts</p>
            </div>
        </div>





    {% endblock %}

    {% block title %}Main page{% endblock %}