{% extends "core/base.html" %}

{% block content %}
    <h2><a href={% url "blogs:allblogs" %}>All blogs</a> </h2>
    <b>{{ object.id }} BLOG</b><br/>
    <p>{{ object.title }}</p>

    {% if object.post_set.all %}
        <div>
        <h1>Posts</h1>
        {% for post in object.post_set.all %}
            <i><a href={% url "blogs:postview" pk=post.id%}>Post</a>: text{{ post.text }}</i><br/>
            <div>{% if post.comment_set.all %}
                {{ post.comment_set.all.last.title }}
            {% endif %}
            </div>
        {%  endfor %}
        </div>
    {% endif %}
{% endblock %}