{% extends "core/base.html" %}

{% block content %}
    <h2><a href={% url "posts:allblogs" %}>All blogs</a> </h2>
    <b>{{ object.id }} BLOG</b><br/>
    <p>{{ object.title }}</p>

    {% if object.post_set.all %}
        <div>
        <h1>Posts</h1>
        {% for post in object.post_set.all %}
            <i>Post: text{{ post.text }}</i><br/>
            {%  for comment in post.comment_set.all %}
                <i><a href={% url "posts:allcomments"  pk=post.id %}> Comments:</a>{{ comment.title }}</i><br/>
            {% endfor %}
        {%  endfor %}
        </div>
    {% endif %}
{% endblock %}