{% extends "core/base.html" %}

{% block content %}

    <h3><b><h1>BLOG</h1></b><br/></h3>
    <header><h1>{{ object.title }}</h1></header>
    <div class="col-lg-5">
    <article><i>Description: {{ object.description }}</i></article>
    </div>
    <div class="col-lg-5" >
    <div class="well">
    <i>Category: {% for category in object.category.all %}
        {{ category }}
    {% endfor %}
    </i>
    </div>


    <h3><a href="{% url "blogs:createpost" %}">Создать новый post</a></h3>
    </div>
    {% if object.post_set.all %}
        <div class="col-lg-10">
        <h1>Posts</h1>
        {% for post in object.post_set.all %}
            <div class="panel panel-primary">
            <i><a href={% url "blogs:postview" pk=post.id%}>Post {{ post.id }}</a>: {{ post.title }}</i><br/>
            <div>{% if post.comment_set.all %}
                Last comment: <i>{{ post.comment_set.all.last.text }}</i>
            {% endif %}
            </div>

            {% if blog.author == user %}
                <div> <a href={% url "blogs:editpost" pk=post.id %}>Редактировать Post</a></div>
            {% endif %}
            <br>
            </div>
        {%  endfor %}
        </div>
    {% endif %}




{% endblock %}